.hero {
  padding-top: 45px;
  padding-bottom: 30px;

  @media(max-width: 1280px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @media(max-width: 480px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  &__wrap {
    position: relative;
    min-height: 480px;
    background: {
      image: url("../images/banner.jpg");
      repeat: no-repeat;
      position: center;
      size: cover;
    }
    background-image: image-set(
      url('../images/banner.avif') 1x,
      url('../images/banner.webp') 1x,
      url('../images/banner.jpg') 1x
    );
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
    padding-bottom: 40px;

    @media(max-width: 1280px) {
      min-height: 310px;
      padding-bottom: 36px;
    }

    @media(max-width: 768px) {
      padding-bottom: 30px;
    }

    @media(max-width: 480px) {
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 30px;
      min-height: 340px;
    }
  }
  
  &__promo-text {
    position: absolute;
    top: 145px;
    left: 112px;
    color: $text-color;
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;

    @media(max-width: 1280px) {
      font-size: 40px;
      max-width: 400px;
      top: 60px;
    }

    @media(max-width: 768px) {
      font-size: 30px;
      left: 80px;
    }

    @media(max-width: 480px) {
      font-size: 22px;
      position: static;
      margin-bottom: auto;
      max-width: 100%;
    }
  }
  
  &__promo-time-end {
    color: $text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 10px;

    @media(max-width: 768px) {
      font-size: 12px;
    }

    @media(max-width: 480px) {
      font-size: 8px;
      margin-bottom: 6px;
    }
  }
  
  &__promo-timer {
    color: $text-color;
  
    display: flex;
    justify-content: center;
    gap: 30px;

    @media(max-width: 1280px) {
      gap: 20px;
    }
  }
  
  &__promo-time {
    color: $text-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;

    @media(max-width: 1280px) {
      font-size: 20px;
    }

    @media(max-width: 768px) {
      font-size: 16px;
    }

    @media(max-width: 480px) {
      font-size: 12px;
    }
  }
  
  &__promo-number {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;

    @media(max-width: 1280px) {
      font-size: 40px;
    }

    @media(max-width: 768px) {
      font-size: 30px;
    }

    @media(max-width: 480px) {
      font-size: 20px;
    }
  }
  
}

